<div class="toolbar" role="banner">
    <mat-icon (click)="showModules = !showModules">menu</mat-icon>
    <div class="categories" *ngIf="showModules">
        <ul>
            <nav>
                <li (click)="navigate($event)" id="1">
                    <a class="button" routerLink="/welcome/welcome">Welcome</a>
                    <mat-icon>chevron_right</mat-icon>
                </li>
                <li (click)="navigate($event)" id="2">
                    <a class="button" routerLink="/sorting/insertion">Sorting algorithms</a>
                    <mat-icon>chevron_right</mat-icon>
                </li>
            </nav>
        </ul>
    </div>
    <div class="spacer"></div>
    <div class="ng-support">
        <img width="40" alt="Angular Logo"
            src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==" />
        <span>Powered by Angular</span>
    </div>
</div>