<app-menu></app-menu>
<div class="content" role="main">

    <!-- <iframe src="https://editor.p5js.org/frma059/sketches/PNnuq7bpv" width="600px" height="400px"></iframe> -->
    <button (click)="clearCanvas()">Limpar</button>
    <div class="sketch-container">
        <div id="sketch-holder"></div>
    </div>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->